{% if menu %}

    {% for item in items %}
        <a class="nav-item nav-link {% if item.current %}active{% endif %}" target="{{ item.target }}"
           href="{{ item.link }}">{{ item.title }}</a>
        {% include "menu.twig" with {'items': item.children} %}
    {% endfor %}

{% endif %}

